<header style="height:40px;background-color:red;"></header>
<h2>Customer Login Page
</h2>

<main class="container">

 


  <div class="form-group">
    <label for="name">Enter Username:</label>
    <input #uname type="text" class="form-control" id="name"  placeholder="Enter username" style="width: 60%;">
  </div>

   <div class="form-group">
    <label for="name">Enter password:</label>
    <input #pass type="text" class="form-control" id="password" placeholder="Enter password" style="width: 60%;">
   </div>
   <button type="button" (click)="authenticate(uname.value,pass.value);"class="btn btn-primary">Login</button>
  
   <button type="button" (click)="clear();"class="btn btn-danger" style="margin-left: 10px;">ClearMsg</button>
 
  <button type="button" (click)="welcome();"class="btn btn-primary" style="margin-left: 10px;">ShowSomeMessage</button> 
  
  <button type="button" (click)="showdata(uname.value,pass.value);"class="btn btn-primary" style="margin-left: 10px;">Message</button>
  <button type="button" (click)="showhide();"class="btn btn-primary" style="margin-left: 10px;">ShowTable</button> 
   
  <hr> 
  <span style="font-size: 18px">is looding.....{{msg}}</span>
  <hr>
  <span style="font-size: 18px">{{msg}}</span>
 
  <hr>
  <span style="font-size: 30px">{{authMsg}}</span>
  <table style="width:100%">
    <tr>
      <th>Company</th>
      <th>Contact</th>
      <th>Country</th>
    </tr>
    <tr>
      <td>Alfreds Futterkiste</td>
      <td>Maria Anders</td>
      <td>Germany</td>
    </tr>
    <tr>
      <td>Centro comercial Moctezuma</td>
      <td>Francisco Chang</td>
      <td>Mexico</td>
    </tr>
  </table>
  
<hr>
<br>
<div  *ngIf="showtable">
  <button type="button" (click)="showhide();"class="btn btn-primary" style="margin-left: 10px;">HideTable</button>
  <table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>
  
</div>
  