<header style="height:40px;background-color:red;"></header>
<h2>Customer Login Page
</h2>

<main class="container">

 


  <div class="form-group">
    <label for="name">Enter Username:</label>
    <input #uname type="text" class="form-control" id="name"  placeholder="Enter username" style="width: 60%;">
  </div>

   <div class="form-group">
    <label for="name">Enter password:</label>
    <input #pass type="text" class="form-control" id="password" placeholder="Enter password" style="width: 60%;">
   </div>
   <button type="button" (click)="authenticate(uname.value,pass.value);"class="btn btn-primary">Login</button>
  
   <button type="button" (click)="clear();"class="btn btn-danger" style="margin-left: 10px;">ClearMsg</button>
 
  <button type="button" (click)="welcome();"class="btn btn-primary" style="margin-left: 10px;">ShowSomeMessage</button> 
  
  <button type="button" (click)="showdata(uname.value,pass.value);"class="btn btn-primary" style="margin-left: 10px;">Message</button>
  <button type="button" (click)="showhide();"class="btn btn-primary" style="margin-left: 10px;">{{showHistoryBtn}}</button> 
   
  <hr> 
  <span style="font-size: 18px">is looding.....{{msg}}</span>
  <hr>
  <span style="font-size: 18px">{{msg}}</span>
 
  <hr>
  <span style="font-size: 30px">{{authMsg}}</span>
 
  
<hr>
<br>
<div  *ngIf="showtable">
  <button type="button" (click)="showhide();"class="btn btn-primary" style="margin-left: 10px;">HideTable</button>
  <table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">UserName</th>
        <th scope="col">password</th>
        <th scope="col">Last login</th>
        <th scope="col">Status</th>
        <th scope="col">Action</th>
       
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let auth of listOfAuth">

        <th scope="row">1</th>
        <td>{{auth.uname}}</td>
        <td>{{auth.pass}}</td>
        <td>{{auth.time}}</td>
        <td>{{auth.status}}</td>
   
      </tr>
    
     
    </tbody>
  </table>
  
</div>
  